
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	font-family: 'Poppins', sans-serif; 
} 

/* 導覽頁 */
.nav { 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	position: fixed; 
	top: 0; 
	width: 100%; 
	background-color: #6d9ed3; /* 將背景顏色改為 #74D7BB */
}


.logo { 
	padding: 0 5rem; 
} 

.logo .logo-heading { 
	color: #fff; 
} 

.menu { 
	padding: 0 5rem; 
} 

.cross-icon { 
	display: none; 
} 

.menu .menu2 { 
	display: flex; 
	list-style: none; 
} 

.menu2 .menu3 { 
	padding: 0.5rem 1rem; 
} 

/* 首頁 */
.top {
	width: 100%;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .intro-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
  }
  
  .intro {
	text-align: center;
  }
  
  .pic1 {
	margin-left: 6rem; 
  }
  
  .pic2 {
	max-width: 300px;
	height: auto;
	border-radius: 20%;
	transition: transform 0.3s ease-in-out;
  }
  
  .pic2:hover {
	transform: scale(1.1);
  }

/* 關於我 */
.about { 
	display: flex; 
	align-items: center; 
	background-image: linear-gradient(45deg, #363D73, #2794B3); 
	justify-content: space-between; 
	width: 100%; 
	height: 70%;
} 

.about .about-txt { 
	width: 900px;
	height: 400;
	color: #fff; 
	font-family:"微軟正黑體";
	padding: 5rem 1rem 5rem 5rem; 
} 



/* 大學生活 */
.portfolio { 
	margin: 4.8rem 0; 
	padding: 0 5rem; 
} 

.card1 { 
	padding: 0 !important; 
	background: none !important; 
	border: 2px solid #000; 
} 

.card1 .image { 
	width: 100%; 
} 

.card1 .image img { 
	height: 200px; 
	width: 100%; 
	border-top-right-radius: 20px; 
	border-top-left-radius: 20px; 
} 

/* 個人興趣/專業技能 */
.services { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: column; 
	margin: 4.8rem 0; 
	padding: 0 5rem; 
} 

.my-row { 
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	margin: 2rem 0; 
} 

.my-row .my-col { 
	text-align: center; 
	width: 30%; 
} 

.my-card { 
	text-align: center; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	border-radius: 20px; 
	background-image: linear-gradient(#74D7BB, #53C8B6, #35A99C); 
	padding: 1rem; 
} 

.icon { 
	height: 100px; 
	width: 100px; 
	border-radius: 50%; 
	background-color: #363D73; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
} 

.icon svg { 
	font-size: 30px; 
	color: #fff; 
} 

.icon2 { 
	height: 100px; 
	width: 100px; 
	border-radius: 50%; 
	background-color: white; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
} 

.icon2 svg { 
	font-size: 30px; 
	color: #fff; 
}


/* 頁尾 */
.footer { 
	background-color: #000; 
	color: #fff; 
	padding: 2rem; 
} 

.footer-list-items { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	height: 50px; 
	width: 50px; 
	margin: 1rem 1rem 0 1rem; 
	border-radius: 50%; 
	background-color: #53C8B6; 
} 

.footer-links { 
	font-size: 24px; 
	color: #fff; 
	text-decoration: none; 
} 

.social-links { 
	display: flex; 
	align-items: center; 
	justify-content: center; 
} 

.footer-menu { 
	padding: 0 5rem; 
} 

.footer-menu .footer-menu-list { 
	display: flex; 
	list-style: none; 
} 

/* 其他功能 */
.heading1 { 
	font-size: 1.4rem; 
	font-weight: lighter; 
	margin: 0; 
	letter-spacing: 1px; 
} 

.heading2 { 
	font-size: 2.5rem; 
	margin: 0; 
} 

.heading3 { 
    margin: 0; 
    font-size: 1.5rem; 
    color: black; 
    font-weight: bolder; 
}

.mylinks:hover { 
	border-bottom: 2px solid #fff; 
} 

.mylinks { 
	border-bottom: 2px solid transparent; 
	transition: all 0.25s; 
	padding: 5px; 
	text-decoration: none; 
	color: #fff; 
} 

.heading-span { 
	font-weight: bolder; 
} 

.text-center { 
	text-align: center; 
} 

.small-para { 
	font-size: 17px; 
	color: #fff; 
} 

.white-text { 
	color: #fff; 
} 

.text1 { 
	font-weight: bold;
	font-family: "微軟正黑體", sans-serif;
	color: #0b0f30; 
}